@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 224 71.4% 4.1%;
		--card: 0 0% 100%;
		--card-foreground: 224 71.4% 4.1%;
		--popover: 0 0% 100%;
		--popover-foreground: 224 71.4% 4.1%;
		--primary: 262.1 83.3% 57.8%;
		--primary-foreground: 210 20% 98%;
		--secondary: 220 14.3% 95.9%;
		--secondary-foreground: 220.9 39.3% 11%;
		--muted: 220 14.3% 95.9%;
		--muted-foreground: 220 8.9% 46.1%;
		--accent: 220 14.3% 95.9%;
		--accent-foreground: 220.9 39.3% 11%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 20% 98%;
		--border: 220 13% 91%;
		--input: 220 13% 91%;
		--ring: 262.1 83.3% 57.8%;
		--radius: 0.5rem;
		--chart-1: 12 76% 61%;
		--chart-2: 173 58% 39%;
		--chart-3: 197 37% 24%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--background: 224 71.4% 4.1%;
		--foreground: 210 20% 98%;
		--card: 224 71.4% 4.1%;
		--card-foreground: 210 20% 98%;
		--popover: 224 71.4% 4.1%;
		--popover-foreground: 210 20% 98%;
		--primary: 263.4 70% 50.4%;
		--primary-foreground: 210 20% 98%;
		--secondary: 215 27.9% 16.9%;
		--secondary-foreground: 210 20% 98%;
		--muted: 215 27.9% 16.9%;
		--muted-foreground: 217.9 10.6% 64.9%;
		--accent: 215 27.9% 16.9%;
		--accent-foreground: 210 20% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 20% 98%;
		--border: 215 27.9% 16.9%;
		--input: 215 27.9% 16.9%;
		--ring: 263.4 70% 50.4%;
		--chart-1: 220 70% 50%;
		--chart-2: 160 60% 45%;
		--chart-3: 30 80% 55%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

/* Dark Mode Toggle */
.dark-mode-toggle {
	@apply relative p-[1px] rounded-full w-14 h-7 flex items-center transition-colors duration-300 ease-in-out;
}

.light-mode {
	@apply bg-gray-200 border-2 border-gray-300;
}

.dark-mode {
	@apply bg-primary border-2 border-gray-600;
}

.toggle-switch {
	@apply absolute w-6 h-6 rounded-full bg-white shadow-md transition-transform duration-300 ease-in-out backdrop-blur-sm;
}

.switch-light {
	@apply translate-x-0;
}

.switch-dark {
	@apply translate-x-7;
}

/* Header And Home */
.header {
	@apply bg-background text-foreground p-4 flex items-center justify-between;
}

.logo-container {
	@apply flex items-center space-x-4;
}

.logo {
	@apply h-8 w-8 mr-2;
}

.logo-link {
	@apply flex items-center;
}

.site-title,
.Saiddit {
	@apply text-secondary-foreground text-xl font-bold;
}

.actions-container {
	@apply flex items-center space-x-4;
}

.main-container {
	@apply min-h-screen bg-background text-foreground;
}

.main-feed {
	@apply p-4;
}

/* Cards */
.card {
	@apply mb-4 p-4 bg-white dark:bg-gray-800 rounded shadow-lg dark:shadow-inverted block;
}

.card-title {
	@apply text-xl font-bold text-foreground;
}

.card-author {
	@apply text-sm text-gray-600 dark:text-gray-400;
}

.card-body {
	@apply mt-2 text-gray-800 dark:text-gray-200;
}

@layer utilities {
	.shadow-inverted {
		box-shadow: 0 4px 6px -1px rgba(243, 243, 243, 0.1),
			0 2px 4px -1px rgba(248, 243, 243, 0.06);
	}
}

/* Burger Menu */
.burger-button {
	@apply p-2 bg-secondary text-secondary-foreground rounded-md;
}

.burger-icon {
	@apply h-6 w-6 stroke-current fill-none stroke-2;
	stroke-linecap: round;
	stroke-linejoin: round;
}

.dropdown-content {
	@apply bg-gray-800 border border-gray-700 text-white rounded shadow-lg p-2 absolute right-20 mt-0 w-56 origin-top-left z-50;
}
.dropdown-item {
	@apply p-2 hover:bg-gray-100 dark:hover:bg-gray-700 cursor-pointer text-gray-900 dark:text-gray-100;
}

.dark .burger-icon {
	@apply text-gray-300;
}

.dark .dropdown-content {
	@apply bg-gray-800 border-gray-700;
}

.dark .dropdown-item {
	@apply hover:bg-gray-700;
}

.dropdown-menu-content {
	background-color: var(--dropdown-bg);
	color: var(--dropdown-text);
}

:root {
	--dropdown-bg: #ffffff;
	--dropdown-text: #000000;
	--border-color: #e5e7eb;
}

.dark {
	--dropdown-bg: #1f2937;
	--dropdown-text: #ffffff;
	--border-color: #4b5563;
}
/* Articles */
.article-page-container {
	@apply max-w-3xl mx-auto p-6 bg-white dark:bg-background rounded shadow-lg;
}

.article-interactions-container {
	@apply mt-4;
}

.article-buttons-wrapper {
	@apply mt-4;
}

.article-title {
	@apply text-3xl font-bold text-gray-900 dark:text-white mb-4;
}

.article-author {
	@apply text-sm text-gray-600 dark:text-gray-400 mb-6;
}

.article-image {
	@apply w-full h-auto mb-6 rounded;
}

.article-content {
	@apply text-gray-800 dark:text-gray-200 leading-relaxed overflow-hidden relative;
}

.article-body {
	@apply text-sm mb-1 mt-2;
}

.article-content.truncated::after {
	@apply content-[''] absolute bottom-0 left-0 w-full h-16 pointer-events-none;
	background: linear-gradient(to bottom, transparent, white);
}

.dark .article-content.truncated::after {
	background: linear-gradient(to bottom, transparent, #1f2937);
}

.article-buttons {
	@apply mt-4 flex flex-col sm:flex-row sm:justify-start sm:space-x-4 space-y-2 sm:space-y-0;
}

/* Comments */
.show-comments-button {
	@apply w-full p-2 mt-2 bg-gray-900 text-white rounded-md 
		hover:bg-gray-600 transition-colors duration-200 ease-in-out
		font-medium text-sm tracking-wide;
}

.expand-button {
	@apply w-full p-2 mt-2 mb-2 bg-gray-800 text-white rounded-md 
		hover:bg-gray-700 transition-colors;
}

.comments-container {
	@apply mt-6;
}

.comments-title {
	@apply text-xl font-bold mb-4;
}

.no-comments {
	@apply text-gray-500 dark:text-gray-400;
}

.comments-list {
	@apply space-y-4;
}

.comment-item {
	@apply bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 p-4 rounded-md shadow;
}

.comment-author {
	@apply font-semibold;
}

.comment-date {
	@apply text-sm text-gray-500 dark:text-gray-400 mb-2;
}

.comment-body {
	@apply text-gray-700 dark:text-gray-300;
}

/* Vote Buttons */
.vote-buttons {
	@apply flex items-center space-x-2 my-4;
}

.vote-buttons-wrapper {
	@apply mb-4;
}

.vote-button {
	@apply p-2 bg-secondary text-secondary-foreground rounded-md hover:bg-opacity-80 transition-colors;
}

.vote-button.voted {
	@apply bg-primary text-primary-foreground;
}

.vote-up {
	@apply text-green-600 dark:text-green-400;
}

.vote-down {
	@apply text-red-600 dark:text-red-400;
}

.votes-count {
	@apply text-foreground font-semibold;
}

.vote-error {
	@apply text-red-500 text-sm mt-2;
}

.loading-indicator {
	@apply text-center mt-8 text-lg font-semibold text-gray-600 dark:text-gray-400;
}

/*Comment Form*/

.comment-form-container {
	width: 100%;
	margin-top: 1rem;
}

.add-comment-button {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: hsl(var(--secondary));
	color: hsl(var(--secondary-foreground));
	border: none;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.add-comment-button:hover {
	background-color: hsl(var(--secondary) / 0.8);
}

.comment-input {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 0.5rem;
	background-color: hsl(var(--background));
	color: hsl(var(--foreground));
	border: 1px solid hsl(var(--border));
	border-radius: 0.375rem;
	resize: vertical;
}

.comment-submit-button {
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: hsl(var(--primary));
	color: hsl(var(--primary-foreground));
	border: none;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.2s ease;
}

.comment-submit-button:hover {
	background-color: hsl(var(--primary) / 0.8);
}

/* Transform Button */

.dropdown {
	position: relative;
	display: inline-block;
	text-align: left;
}

.transform-button {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 3.5rem;
	height: 2.5rem;
	border-radius: 0.375rem;
	border: none;
	background-color: transparent;
	color: var(--foreground);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.transform-button:hover {
	background-color: var(--muted);
	color: var(--muted-foreground);
}

.transform-button:active,
.transform-button:focus {
	background-color: var(--muted);
	color: var(--muted-foreground);
	outline: none;
}

.transform-button.delete-mode {
	color: #ff0000;
	background-color: rgba(255, 0, 0, 0.1);
}

/* .transform-button.delete-mode:hover {
	background-color: rgba(255, 0, 0, 0.2);
} */

.comment-header {
	display: flex;
	justify-content: space-between;
	align-items: start;
}
